* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: 'Raleway', sans-serif;
  background-image: url('../images/asanoha-400px.png');
}

.nav {
  height: 50px;
  width: 80%;
  background-color: #ffffff;
  position: relative;
  margin: auto;
}

.nav-title {
    background-color: #17a2b8;
    color           : white;
    font-family     : 'Courgette', cursive;
    font-size       : 160%;
    height          : 50px;
}

.nav-links {
    color           : #17a2b8;
    font-family     : 'Courgette', cursive;
    font-size       : 140%;
}

.nav-header {
    vertical-align  : middle;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 10px 10px 10px 10px;
  text-decoration: none;
  margin:   auto;
}

.nav > .nav-links > a:hover {
  background-color: #D3D3D3;
}

.container {
    width: 80%;
    background-color: #ffffff;
    position: relative;
    margin: auto;
    padding: 2px 20px 10px 20px;
}

h4 {
    color         :#17a2b8;
    font-family   : 'Courgette', cursive;
    font-size     : 150%;
  }

  h6 {
      font-size: 90%;
      color: #696969;
  }
  
  .responsive {
    max-width: 80%;
    height: auto;
  }

/* LINK CSS */
/* unvisited link */
a:link { color: #17a2b8;
}

/* visited link */
a:visited { color: #808080;
}

/* mouse over link */
a:hover { color: #0099CC;
  transition: .4s ease-in-out color;
}

/* selected link */
a:active { color: #191970;
}

/* CONTACT CSS */
/* Style inputs */
input[type=text], select, textarea {
  width               : 100%;
  padding             : 12px;
  border              : 1px solid #ccc;
  margin-top          : 6px;
  margin-bottom       : 16px;
  resize              : vertical;
  }
  
  input[type=submit] {
  background-color    : #17a2b8;
  color               : white;
  padding             : 12px 20px;
  border              : none;
  cursor              : pointer;
  }
  
  input[type=submit]:hover {
  background-color    : #191970;
  }

  /* PORTFOLIO CSS */
  .thumbnail {
    position: relative;
    }

    .p-container {
      width: 80%;
      max-width: 960px;
      margin: 0 auto;
      clear: both;
    }
    
    .p-section {
      float: left;
      width: 100%;
      max-width: 960px;
      padding: 20px;
      margin: 0 0 40px;
      background: #ffffff;
    }
    
    .port {
      position: relative;
      float: left;
      width: 274px;
      margin: 20px 0 25px;
      overflow: auto;
    }
    
    .port:nth-child(even) {
      margin-right: 40px;
    }
    
    .port img {
      width: 100%;
      border: 0 none;
      opacity: 0.8;
    }
    
    .responsive {
      width: 200px;
      height: 200px;
    }
    
    .port h3 {
      position: absolute;
      bottom: 20px;
      width: 80%;
      padding: 15px;
      margin-bottom: 0;
      font-weight: 300;
      line-height: 30px;
      color: #ffffff;
      opacity: 60%;
      text-align: center;
      background: #4aaaa5;
      border-bottom: 0;
    }
    
    .auth-image {
      float: left;
      width: 200px;
      height: auto;
      margin-top: 10px;
      margin-right: 25px;
    }
    
    

/* Style the footer */
.footer {
    background-color    : #666666;
    color               : white;
    padding             : 10px;
    text-align          : center;
    font-size           : 14px;
    width               : 100%;
    margin              : auto;
    position            : fixed;
    bottom              : 0;
    left                : 0;
    border-top          : 8px solid #4aaaa5;
    vertical-align      : bottom;
  }

/* Extra small devices (phones) */
@media only screen and (max-width: 640px) {
  .nav > .nav-links {
      width: 60%;
      height: 50px;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
    }
    .p-section {
      justify-content: center;
      margin-top: 50px;
      background-color: teal;
    }
    #port-container {
      max-width: 486px;
    }
    .port {
      width: 100%;
    }
}

/* Medium devices (tablets) */
@media only screen and (max-width: 768px) {
  .p-container {
    max-width: 700px;
    justify-content: center;
  }
  .p-section {
    float: left;
    width: 100%;
    max-width: 960px;
    padding: 20px;
    margin: 0 0 40px;
    justify-content: center;
  }
  .port {
    padding: 2px 2px 2px 2px;    
  }
}

/* Large devices (laptops/desktops) */
@media only screen and (max-width: 980px) {
  .p-container {
    width: 900px;
    margin: auto;
  }

  .p-section {
    max-width: 756px;
    position: relative;
    left: 72px;
    bottom: 10px;
  }

  .port {
    width: 230px;  
    position: relative;
    float: center;
    padding: 0px 0px 1px 0px;
    overflow: auto;
  }
  
  .port img {
    width: 100%;
    border: 0 none;
    opacity: 0.8;
  }
  
  .port h3 {
    bottom: 20px;
    width: 80%;
    padding: 10px;
    margin-bottom: 0;
  }

  .responsive {
    width: 180px;
    height: 180px;
  }

}